[submodule "v4l2rtspserver"]
	path = v4l2rtspserver
	url = https://github.com/mpromonet/v4l2rtspserver.git
[submodule "v4l2onvif"]
	path = v4l2onvif
	url = https://github.com/mpromonet/v4l2onvif.git
[submodule "ws-discovery"]
	path = ws-discovery
	url = https://github.com/mpromonet/ws-discovery.git
[submodule "lib/ws-discovery"]
	path = lib/ws-discovery
	url = https://github.com/mpromonet/ws-discovery
